/* Semantic 토큰 - primitive를 참조하며 색상 유틸(bg, text, border 등)을 생성 */
@theme inline {
  /* background */
  --color-bg-default: var(--color-gray-0);
  --color-bg-surface: var(--color-gray-5);
  --color-bg-muted: var(--color-gray-20);
  --color-bg-dim: var(--color-alpha-black-50);
  --color-bg-strong: var(--color-primary-50);
  --color-bg-dark: var(--color-gray-80);
  --color-bg-error: var(--color-critical-50);

  /* border */
  --color-border-default: var(--color-gray-10);
  --color-border-strong: var(--color-gray-90);
  --color-border-subtle: var(--color-gray-5);
  --color-border-error: var(--color-critical-50);
  --color-border-brand: var(--color-primary-50);

  /* text */
  --color-text-primary: var(--color-gray-90);
  --color-text-secondary: var(--color-gray-70);
  --color-text-tertiary: var(--color-gray-50);
  --color-text-disabled: var(--color-gray-40);
  --color-text-brand: var(--color-primary-50);
  --color-text-inverse: var(--color-gray-0);
  --color-text-error: var(--color-critical-50);

  /* icon */
  --color-icon-primary: var(--color-gray-80);
  --color-icon-secondary: var(--color-gray-50);
  --color-icon-tertiary: var(--color-gray-40);
  --color-icon-brand: var(--color-primary-50);
  --color-icon-inverse: var(--color-gray-0);

  /* state */
  --color-state-selected: var(--color-primary-10);
  --color-state-pressed: var(--color-primary-70);
  --color-state-disabled: var(--color-gray-10);

  /* button */
  --color-button-primary-fill: var(--color-primary-50);
  --color-button-primary-fill-hover: var(--color-primary-60);
  --color-button-primary-fill-pressed: var(--color-primary-70);
  --color-button-secondary-fill: var(--color-primary-5);
  --color-button-secondary-fill-hover: var(--color-primary-10);
  --color-button-secondary-fill-pressed: var(--color-primary-20);
  --color-button-secondary-border: var(--color-primary-50);
  --color-button-tertiary-fill: var(--color-gray-5);
  --color-button-tertiary-fill-hover: var(--color-gray-10);
  --color-button-tertiary-fill-selected: var(--color-primary-10);
  --color-button-tertiary-fill-pressed: var(--color-gray-20);
  --color-button-tertiary-border: var(--color-gray-10);
  --color-button-disabled-fill: var(--color-gray-20);
  --color-button-disabled-border: var(--color-gray-30);
}
